venv/
__pycache__/
*.pyc
.env
node_modules/
dist/
staticfiles/
media/

# Python / Django
backend/venv/
backend/db.sqlite3
backend/media/
backend/staticfiles/
**/__pycache__/
*.pyc
.env


# Python / Django
backend/venv/
backend/db.sqlite3
backend/media/
backend/staticfiles/
**/__pycache__/
*.pyc
.env

backend/.env
backend/.env.*
backend/*.backup
